In this notebook, I will show you how to prepare your data for statistical analysis using RStudio. Most of the things I am showing here can be done with R, this is purely my personal preference.

First off, we're importing necessary packages. For this project, we only really need one - pandas, a powerful library for working with data. Click the "Play" button on the left-hand side of the cell below to do that.

In [ ]:
import pandas as pd #importing the package called pandas; but it's to long to always type, so we'll just call it pd

Then, upload your file to Colab (which is this thing, and it's recommended for simplicity) or Google Drive (a little bit more involved, but nothing complex). If you uploaded it to Colab (here), click on the file in the left pane, and select "Copy path". Then paste that path down below, where it says "your_file_path".

In [ ]:
datafile = "/content/dataai (1).csv" #this is where you tell Python where your file is

However, if you'd rather have that file in your Google Drive, and you uploaded it there, here's how to access it.

1.   Find your csv file in your drive
2.   Run the cell below

And here's what the cell below does, line by line.


1.   from google.colab import drive - this import another package, which is necessary to work with Google Drive from here.
2.   drive.mount('/content/gdrive', force_remount = True) - this allows Colab to access your Google Drive. You will be asked to allow access, please do that
3.   datafile - your spreadsheet. Replace "your_file_path.csv' with the path to your file in Google Drive. Do not replace '/content/gdrive'

In [ ]:
from google.colab import drive #importing a part of the Google COlab library
drive.mount('/content/gdrive', force_remount = True) #this is basically like pluggin in a USB stick

In [ ]:
datafile = '/content/gdrive/MyDrive/Colab Notebooks/Irony AI vs  human.csv' #and this is the location of your file

Now, let's read that file into Python. Your CSV file will be read as something called a DataFrame - just a fancy name for a spreadsheet. The command can be broken down as follows:


*   data - this is how you will refer to your spreadsheet from now on
*   pd.read_csv - pd stands for "pandas" (remember, we imported it as the very first thing?), and read_csv is a function to read that file into Python as a spreadsheet
*   datafile - the location of your spreadsheet
*   'r' means "read-only'
*   encoding = 'utf-8' lets the program know it should treat symbols in the document as belonging to a certain character set, in this case, UTF-8, the most versatile one; this may be particularly relevant for those of you who have Kazakh letters in your questions or answers

In [ ]:
data = pd.read_csv(datafile, header = 1, encoding = 'utf-8')

Now, first off, let's see what your spreadsheet looks like. Run the cell below.

In [ ]:
display(data) #"display" just shows a fancier table

,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,AI q5 - Click to write Choice 1,human filler 2 - Click to write Choice 1,human filler 3 - Click to write Choice 1,AI q6 - Click to write Choice 1,human q7 - Click to write Choice 1,human q8 - Click to write Choice 1,AI filler 4 - Click to write Choice 1,AI filler 5 - Click to write Choice 1,human filler 6 - Click to write Choice 1,AI q1 - Click to write Choice 1
0,"{""ImportId"":""startDate"",""timeZone"":""Asia/Karac...","{""ImportId"":""endDate"",""timeZone"":""Asia/Karachi""}","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""Asia/Ka...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID33_1""}","{""ImportId"":""QID8_1""}","{""ImportId"":""QID13_1""}","{""ImportId"":""QID27_1""}","{""ImportId"":""QID14_1""}","{""ImportId"":""QID7_1""}","{""ImportId"":""QID34_1""}","{""ImportId"":""QID28_1""}","{""ImportId"":""QID15_1""}","{""ImportId"":""QID32_1""}"
1,2024-04-02 11:14:59,2024-04-02 12:20:33,0,87.255.216.85,100,3933,1,2024-04-02 12:20:33,R_2dMzcY6tOKkVzD1,NaN,...,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
2,2024-04-02 12:13:09,2024-04-02 12:22:35,0,87.255.216.86,100,566,1,2024-04-02 12:22:36,R_4RbtIAqHHzx1AVX,NaN,...,NaN,5,3,NaN,3,4,NaN,NaN,NaN,NaN
3,2024-04-04 12:11:42,2024-04-04 12:11:50,1,NaN,100,8,1,2024-04-04 12:11:51,R_2EtGNsPkgJCCzBO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-04-04 12:12:02,2024-04-04 12:12:10,1,NaN,100,8,1,2024-04-04 12:12:10,R_2MtwLdGhgaZFz8g,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2024-04-04 12:13:04,2024-04-04 12:13:17,1,NaN,100,13,1,2024-04-04 12:13:18,R_2YljOLmQpXWIbnI,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2024-04-04 12:18:38,2024-04-04 12:18:45,1,NaN,100,7,1,2024-04-04 12:18:46,R_2bDOiGhNOtUG6IN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2024-04-04 12:20:12,2024-04-04 12:20:17,1,NaN,100,5,1,2024-04-04 12:20:18,R_2agDo9PWb8jpAVg,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2024-04-04 12:21:13,2024-04-04 12:21:18,1,NaN,100,4,1,2024-04-04 12:21:18,R_2h4P2S9pU6Ky1u0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2024-04-04 12:34:09,2024-04-04 12:38:48,0,185.48.148.174,100,279,1,2024-04-04 12:38:49,R_3Bd7kXwnI7OKADL,NaN,...,2,4,1,5,4,3,1,2,1,4
10,2024-04-04 13:33:21,2024-04-04 13:34:38,0,212.96.80.228,100,77,1,2024-04-04 13:34:39,R_5yabDo0qnEJuncl,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2024-04-04 14:41:04,2024-04-04 14:45:14,0,87.255.216.74,100,249,1,2024-04-04 14:45:15,R_2ZttwNI3rURCoEh,NaN,...,5,3,5,5,5,2,2,3,2,5
12,2024-04-05 18:26:27,2024-04-05 18:27:57,0,89.134.13.118,100,89,1,2024-04-05 18:27:58,R_7dm34hfHEeLvxyT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2024-04-05 23:29:01,2024-04-05 23:33:57,0,91.185.10.38,100,296,1,2024-04-05 23:33:57,R_4y8fIipkdzNiMlC,NaN,...,1,5,3,2,3,3,2,2,2,4
14,2024-04-06 00:53:51,2024-04-06 00:55:19,0,176.64.21.108,100,88,1,2024-04-06 00:55:20,R_4Ibby00hrmrMFXG,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2024-04-07 04:15:47,2024-04-07 04:21:53,0,2.133.195.122,100,365,1,2024-04-07 04:21:54,R_2ff3gKFfnTWZgfF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2024-04-08 17:18:24,2024-04-08 17:22:08,0,91.185.26.183,100,224,1,2024-04-08 17:22:09,R_2CG59e2ma9X0nS1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2024-04-08 17:17:14,2024-04-08 17:37:40,0,95.82.73.170,100,1226,1,2024-04-08 17:37:41,R_2ibaw1WSg0BCd4N,NaN,...,3,1,1,1,1,2,1,1,1,2
18,2024-04-08 20:06:00,2024-04-08 20:09:41,0,185.48.148.175,100,220,1,2024-04-08 20:09:42,R_2dEZjffAuVnoRHv,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2024-04-08 20:08:39,2024-04-08 20:18:54,0,104.28.241.138,100,615,1,2024-04-08 20:18:54,R_4HEB9Phar7as5MJ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2024-04-08 20:12:31,2024-04-08 21:00:49,0,104.28.241.140,100,2897,1,2024-04-08 21:00:49,R_3tkXQc8stjsVUhY,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2024-04-08 21:34:09,2024-04-08 21:39:08,0,46.34.192.211,100,299,1,2024-04-08 21:39:09,R_2E9JASsmprBR6YQ,NaN,...,3,3,3,5,5,4,3,3,2,4
22,2024-04-08 21:55:15,2024-04-08 22:03:29,0,87.255.216.73,100,494,1,2024-04-08 22:03:30,R_7sud6lkUWZOoEGv,NaN,...,1,5,3,2,5,5,2,4,4,5
23,2024-04-08 22:32:20,2024-04-08 22:41:57,0,95.82.68.70,100,576,1,2024-04-08 22:41:58,R_16SQDGW0xxtiTKx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2024-04-08 23:53:54,2024-04-08 23:56:54,0,46.34.192.211,100,180,1,2024-04-08 23:56:55,R_61hDGivz1MzKted,NaN,...,4,3,1,4,4,2,1,1,2,4
25,2024-04-09 00:00:22,2024-04-09 00:04:12,0,185.48.148.186,100,229,1,2024-04-09 00:04:12,R_2n7bLCixJuEWPD3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2024-04-09 00:03:53,2024-04-09 00:05:53,0,85.117.121.169,100,120,1,2024-04-09 00:05:54,R_2zEAgxlWrkVBn69,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2024-04-09 00:02:20,2024-04-09 00:08:00,0,95.82.64.130,100,339,1,2024-04-09 00:08:00,R_6thayj6uLiKmtcn,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2024-04-09 00:05:12,2024-04-09 00:08:13,0,95.82.66.78,100,180,1,2024-04-09 00:08:13,R_8118q9kUCP2pNj2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2024-04-09 00:05:08,2024-04-09 00:10:10,0,87.255.216.75,100,302,1,2024-04-09 00:10:11,R_8oLjyroEAPMMGE9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2024-04-09 00:08:33,2024-04-09 00:11:26,0,46.34.193.124,100,173,1,2024-04-09 00:11:26,R_2NE3opSPthongZf,NaN,...,4,5,1,5,5,1,1,2,1,5
31,2024-04-09 00:10:10,2024-04-09 00:13:13,0,87.255.216.104,100,183,1,2024-04-09 00:13:14,R_2ZU26dfVqliVm5X,NaN,...,2,2,3,3,1,1,2,1,1,3
32,2024-04-09 00:10:15,2024-04-09 00:15:02,0,185.48.148.173,100,287,1,2024-04-09 00:15:03,R_89bk8DH9Pit04RP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2024-04-09 00:15:00,2024-04-09 00:18:21,0,5.34.127.157,100,201,1,2024-04-09 00:18:22,R_1QQArY0bpLSD3Ms,NaN,...,3,3,3,2,1,2,1,3,1,3
34,2024-04-09 00:25:26,2024-04-09 00:35:29,0,82.194.24.253,100,602,1,2024-04-09 00:35:30,R_2lxKh2Lp9frwasu,NaN,...,5,5,3,5,5,5,5,5,5,5
35,2024-04-09 00:32:16,2024-04-09 00:36:19,0,87.255.216.104,100,243,1,2024-04-09 00:36:20,R_2rqPvdBrup5Dkx6,NaN,...,4,1,1,3,2,5,1,4,4,4
36,2024-04-09 00:34:40,2024-04-09 00:42:49,0,212.13.134.8,100,489,1,2024-04-09 00:42:50,R_2IuziWT7AQlFDoG,NaN,...,5,3,3,5,5,3,1,3,3,5
37,2024-04-09 01:37:05,2024-04-09 01:41:54,0,85.117.111.166,100,289,1,2024-04-09 01:41:55,R_6Y3t9KRr20t6U5P,NaN,...,4,2,2,4,4,4,2,4,2,5
38,2024-04-09 11:07:58,2024-04-09 11:12:15,0,178.91.253.104,100,256,1,2024-04-09 11:12:16,R_1eHqZtghKZehSsF,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2024-04-09 12:53:25,2024-04-09 12:57:48,0,185.48.148.203,100,262,1,2024-04-09 12:57:48,R_7REUIcsZYLgWlKV,NaN,...,4,1,1,2,4,2,1,1,1,2
40,2024-04-09 15:25:24,2024-04-09 15:31:38,0,178.91.253.73,100,374,1,2024-04-09 15:31:39,R_2fE6LjrUrLH3NJp,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2024-04-10 14:00:37,2024-04-10 14:02:02,0,188.246.254.180,100,84,1,2024-04-10 14:02:03,R_2EydxFV3CCyCqvp,NaN,...,3,5,5,5,5,5,5,5,5,3

There is likely lots and lots of useless data in there. Let's get rid of it! What you will certainly find useless at this point are the first 18 columns - they contain lots of metadata that Qualtrics gathers by default. Check your file - if you see columns like "IPAddress", "LocationLongitude", that means you have that data.

We also have some rows we don't need, namely first and third row. They contain the question numbers, and some tags. Keep in mind, though, that in Python (and many other programming languages) we start counting from 0, not 1. So row 1 becomes row 0, and row 3 becomes row 2.

Drop it, and then check the results.

In [ ]:
data.drop(['Start Date',
           'End Date',
           'Response Type',
           'IP Address',
           'Progress',
           'Duration (in seconds)',
           'Finished',
           'Recorded Date',
           'Recipient Last Name',
           'Recipient First Name',
           'Recipient Email',
           'External Data Reference',
           'Location Latitude',
           'Location Longitude',
           'Distribution Channel',
           'User Language',
           'Q_RecaptchaScore',
           'FillerScore',
           'Score'], axis = 1, inplace = True, errors = 'ignore') #dropping the columns which contain stuff that's irrelevant to us
data.drop(index=data.index[0], inplace=True) #dropping the rows which are irrelevant, because Qualtrics just does that
display(data)#see the results of our work

,Response ID,"Welcome! Today you will respond to an important survey. We ask you to participate and provide sincere answers. This survey will take 10-15 minutes to complete. In the following questions, you will be facing short videos containing irony and you will be asked to rate the irony of each statement.\n\nIf you are ready, let's begin!","By participating in this survey, you agree to provide as honest answers as possible. Any responses you provide will be anonymized, so neither the research team nor additional respondents will know which one is yours.\n\nBy \nselecting â€œI agreeâ€, you agree to the terms described above and confirm that you are at least 18 years of age.",Is your birthday an even number?,human_q1 - Click to write Choice 1,AI_q2 - Click to write Choice 1,human_q3 - Click to write Choice 1,human q4 - Click to write Choice 1,AI filler 1 - Click to write Choice 1,Human q5 - Click to write Choice 1,...,AI q5 - Click to write Choice 1,human filler 2 - Click to write Choice 1,human filler 3 - Click to write Choice 1,AI q6 - Click to write Choice 1,human q7 - Click to write Choice 1,human q8 - Click to write Choice 1,AI filler 4 - Click to write Choice 1,AI filler 5 - Click to write Choice 1,human filler 6 - Click to write Choice 1,AI q1 - Click to write Choice 1
1,R_2dMzcY6tOKkVzD1,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,...,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
2,R_4RbtIAqHHzx1AVX,NaN,NaN,NaN,4,NaN,5,2,NaN,4,...,NaN,5,3,NaN,3,4,NaN,NaN,NaN,NaN
3,R_2EtGNsPkgJCCzBO,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R_2MtwLdGhgaZFz8g,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R_2YljOLmQpXWIbnI,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,R_2bDOiGhNOtUG6IN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,R_2agDo9PWb8jpAVg,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,R_2h4P2S9pU6Ky1u0,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,R_3Bd7kXwnI7OKADL,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,2,4,1,5,4,3,1,2,1,4
10,R_5yabDo0qnEJuncl,1,1,1,4,3,2,3,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,R_2ZttwNI3rURCoEh,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,5,3,5,5,5,2,2,3,2,5
12,R_7dm34hfHEeLvxyT,1,1,1,2,2,2,2,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,R_4y8fIipkdzNiMlC,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,1,5,3,2,3,3,2,2,2,4
14,R_4Ibby00hrmrMFXG,1,1,1,5,5,5,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,R_2ff3gKFfnTWZgfF,1,1,1,2,3,4,5,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,R_2CG59e2ma9X0nS1,1,1,1,5,2,5,3,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,R_2ibaw1WSg0BCd4N,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,1,1,1,2,1,1,1,2
18,R_2dEZjffAuVnoRHv,1,1,1,1,5,5,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,R_4HEB9Phar7as5MJ,1,1,1,4,4,5,3,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,R_3tkXQc8stjsVUhY,1,1,1,5,4,4,2,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,R_2E9JASsmprBR6YQ,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,3,3,3,5,5,4,3,3,2,4
22,R_7sud6lkUWZOoEGv,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,1,5,3,2,5,5,2,4,4,5
23,R_16SQDGW0xxtiTKx,1,1,1,3,5,4,5,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,R_61hDGivz1MzKted,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,4,3,1,4,4,2,1,1,2,4
25,R_2n7bLCixJuEWPD3,1,1,1,4,4,5,3,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,R_2zEAgxlWrkVBn69,1,1,1,5,5,5,3,3,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,R_6thayj6uLiKmtcn,1,1,1,5,5,5,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,R_8118q9kUCP2pNj2,1,1,1,1,2,4,2,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,R_8oLjyroEAPMMGE9,1,1,1,4,5,5,4,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,R_2NE3opSPthongZf,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,4,5,1,5,5,1,1,2,1,5
31,R_2ZU26dfVqliVm5X,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,3,3,1,1,2,1,1,3
32,R_89bk8DH9Pit04RP,1,1,1,4,4,5,4,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,R_1QQArY0bpLSD3Ms,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,3,3,3,2,1,2,1,3,1,3
34,R_2lxKh2Lp9frwasu,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,5,5,3,5,5,5,5,5,5,5
35,R_2rqPvdBrup5Dkx6,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,1,3,2,5,1,4,4,4
36,R_2IuziWT7AQlFDoG,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,5,3,3,5,5,3,1,3,3,5
37,R_6Y3t9KRr20t6U5P,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,4,2,2,4,4,4,2,4,2,5
38,R_1eHqZtghKZehSsF,1,1,1,1,5,4,2,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,R_7REUIcsZYLgWlKV,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,1,2,4,2,1,1,1,2
40,R_2fE6LjrUrLH3NJp,1,1,1,3,4,5,2,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,R_2EydxFV3CCyCqvp,1,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,3,5,5,5,5,5,5,5,5,3

In [ ]:
cols=[1]
data.drop(data.columns[cols], axis = 1, inplace=True)
display(data)

,Response ID,"By participating in this survey, you agree to provide as honest answers as possible. Any responses you provide will be anonymized, so neither the research team nor additional respondents will know which one is yours.\n\nBy \nselecting â€œI agreeâ€, you agree to the terms described above and confirm that you are at least 18 years of age.",Is your birthday an even number?,human_q1 - Click to write Choice 1,AI_q2 - Click to write Choice 1,human_q3 - Click to write Choice 1,human q4 - Click to write Choice 1,AI filler 1 - Click to write Choice 1,Human q5 - Click to write Choice 1,AI filler 2 - Click to write Choice 1,...,AI q5 - Click to write Choice 1,human filler 2 - Click to write Choice 1,human filler 3 - Click to write Choice 1,AI q6 - Click to write Choice 1,human q7 - Click to write Choice 1,human q8 - Click to write Choice 1,AI filler 4 - Click to write Choice 1,AI filler 5 - Click to write Choice 1,human filler 6 - Click to write Choice 1,AI q1 - Click to write Choice 1
1,R_2dMzcY6tOKkVzD1,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
2,R_4RbtIAqHHzx1AVX,NaN,NaN,4,NaN,5,2,NaN,4,NaN,...,NaN,5,3,NaN,3,4,NaN,NaN,NaN,NaN
3,R_2EtGNsPkgJCCzBO,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R_2MtwLdGhgaZFz8g,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R_2YljOLmQpXWIbnI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,R_2bDOiGhNOtUG6IN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,R_2agDo9PWb8jpAVg,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,R_2h4P2S9pU6Ky1u0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,R_3Bd7kXwnI7OKADL,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,4,1,5,4,3,1,2,1,4
10,R_5yabDo0qnEJuncl,1,1,4,3,2,3,4,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,R_2ZttwNI3rURCoEh,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,3,5,5,5,2,2,3,2,5
12,R_7dm34hfHEeLvxyT,1,1,2,2,2,2,3,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,R_4y8fIipkdzNiMlC,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,5,3,2,3,3,2,2,2,4
14,R_4Ibby00hrmrMFXG,1,1,5,5,5,5,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,R_2ff3gKFfnTWZgfF,1,1,2,3,4,5,5,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,R_2CG59e2ma9X0nS1,1,1,5,2,5,3,4,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,R_2ibaw1WSg0BCd4N,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,1,1,1,1,2,1,1,1,2
18,R_2dEZjffAuVnoRHv,1,1,1,5,5,5,5,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,R_4HEB9Phar7as5MJ,1,1,4,4,5,3,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,R_3tkXQc8stjsVUhY,1,1,5,4,4,2,4,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,R_2E9JASsmprBR6YQ,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,3,3,5,5,4,3,3,2,4
22,R_7sud6lkUWZOoEGv,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,5,3,2,5,5,2,4,4,5
23,R_16SQDGW0xxtiTKx,1,1,3,5,4,5,3,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,R_61hDGivz1MzKted,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,3,1,4,4,2,1,1,2,4
25,R_2n7bLCixJuEWPD3,1,1,4,4,5,3,4,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,R_2zEAgxlWrkVBn69,1,1,5,5,5,3,3,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,R_6thayj6uLiKmtcn,1,1,5,5,5,5,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,R_8118q9kUCP2pNj2,1,1,1,2,4,2,4,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,R_8oLjyroEAPMMGE9,1,1,4,5,5,4,3,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,R_2NE3opSPthongZf,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,5,1,5,5,1,1,2,1,5
31,R_2ZU26dfVqliVm5X,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,3,3,1,1,2,1,1,3
32,R_89bk8DH9Pit04RP,1,1,4,4,5,4,4,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,R_1QQArY0bpLSD3Ms,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,3,3,2,1,2,1,3,1,3
34,R_2lxKh2Lp9frwasu,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,5,3,5,5,5,5,5,5,5
35,R_2rqPvdBrup5Dkx6,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,1,3,2,5,1,4,4,4
36,R_2IuziWT7AQlFDoG,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,3,3,5,5,3,1,3,3,5
37,R_6Y3t9KRr20t6U5P,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,2,2,4,4,4,2,4,2,5
38,R_1eHqZtghKZehSsF,1,1,1,5,4,2,3,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,R_7REUIcsZYLgWlKV,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,1,2,4,2,1,1,1,2
40,R_2fE6LjrUrLH3NJp,1,1,3,4,5,2,3,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,R_2EydxFV3CCyCqvp,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,5,5,5,5,5,5,5,5,3

In [ ]:
print(data.columns.tolist())

['Response ID', 'By participating in this survey, you agree to provide as honest answers as possible. Any responses you provide will be anonymized, so neither the research team nor additional respondents will know which one is yours.\n\nBy \nselecting â€œI agreeâ€, you agree to the terms described above and confirm that you are at least 18 years of age.', 'Is your birthday an even number?', 'human_q1 - Click to write Choice 1', 'AI_q2 - Click to write Choice 1', 'human_q3 - Click to write Choice 1', 'human q4 - Click to write Choice 1', 'AI filler 1 - Click to write Choice 1', 'Human q5 - Click to write Choice 1', 'AI filler 2 - Click to write Choice 1', 'AI filler 3 - Click to write Choice 1', 'human q6 - Click to write Choice 1', 'AI q7 - Click to write Choice 1', 'AI q8 - Click to write Choice 1', 'human filler 4 - Click to write Choice 1', 'human filler 5 - Click to write Choice 1', 'AI filler 6 - Click to write Choice 1', 'human q2 - Click to write Choice 1', 'AI q3 - Click to write Choice 1', 'AI q4 - Click to write Choice 1', 'human filler 1 - Click to write Choice 1', 'AI q5 - Click to write Choice 1', 'human filler 2 - Click to write Choice 1', 'human filler 3 - Click to write Choice 1', 'AI q6 - Click to write Choice 1', 'human q7 - Click to write Choice 1', 'human q8 - Click to write Choice 1', 'AI filler 4 - Click to write Choice 1', 'AI filler 5 - Click to write Choice 1', 'human filler 6 - Click to write Choice 1', 'AI q1 - Click to write Choice 1']

In [ ]:
data.drop(['AI filler 6 - Click to write Choice 1',
           'human filler 6 - Click to write Choice 1'], axis = 1, inplace = True)
display(data)

,Response ID,"By participating in this survey, you agree to provide as honest answers as possible. Any responses you provide will be anonymized, so neither the research team nor additional respondents will know which one is yours.\n\nBy \nselecting â€œI agreeâ€, you agree to the terms described above and confirm that you are at least 18 years of age.",Is your birthday an even number?,human_q1 - Click to write Choice 1,AI_q2 - Click to write Choice 1,human_q3 - Click to write Choice 1,human q4 - Click to write Choice 1,AI filler 1 - Click to write Choice 1,Human q5 - Click to write Choice 1,AI filler 2 - Click to write Choice 1,...,human filler 1 - Click to write Choice 1,AI q5 - Click to write Choice 1,human filler 2 - Click to write Choice 1,human filler 3 - Click to write Choice 1,AI q6 - Click to write Choice 1,human q7 - Click to write Choice 1,human q8 - Click to write Choice 1,AI filler 4 - Click to write Choice 1,AI filler 5 - Click to write Choice 1,AI q1 - Click to write Choice 1
1,R_2dMzcY6tOKkVzD1,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN
2,R_4RbtIAqHHzx1AVX,NaN,NaN,4,NaN,5,2,NaN,4,NaN,...,5,NaN,5,3,NaN,3,4,NaN,NaN,NaN
3,R_2EtGNsPkgJCCzBO,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R_2MtwLdGhgaZFz8g,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R_2YljOLmQpXWIbnI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,R_2bDOiGhNOtUG6IN,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,R_2agDo9PWb8jpAVg,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,R_2h4P2S9pU6Ky1u0,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,R_3Bd7kXwnI7OKADL,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,2,4,1,5,4,3,1,2,4
10,R_5yabDo0qnEJuncl,1,1,4,3,2,3,4,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,R_2ZttwNI3rURCoEh,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,5,3,5,5,5,2,2,3,5
12,R_7dm34hfHEeLvxyT,1,1,2,2,2,2,3,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,R_4y8fIipkdzNiMlC,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,5,3,2,3,3,2,2,4
14,R_4Ibby00hrmrMFXG,1,1,5,5,5,5,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,R_2ff3gKFfnTWZgfF,1,1,2,3,4,5,5,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,R_2CG59e2ma9X0nS1,1,1,5,2,5,3,4,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,R_2ibaw1WSg0BCd4N,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,3,1,1,1,1,2,1,1,2
18,R_2dEZjffAuVnoRHv,1,1,1,5,5,5,5,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,R_4HEB9Phar7as5MJ,1,1,4,4,5,3,1,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,R_3tkXQc8stjsVUhY,1,1,5,4,4,2,4,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,R_2E9JASsmprBR6YQ,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,3,3,3,5,5,4,3,3,4
22,R_7sud6lkUWZOoEGv,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,1,5,3,2,5,5,2,4,5
23,R_16SQDGW0xxtiTKx,1,1,3,5,4,5,3,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,R_61hDGivz1MzKted,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,4,3,1,4,4,2,1,1,4
25,R_2n7bLCixJuEWPD3,1,1,4,4,5,3,4,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,R_2zEAgxlWrkVBn69,1,1,5,5,5,3,3,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,R_6thayj6uLiKmtcn,1,1,5,5,5,5,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,R_8118q9kUCP2pNj2,1,1,1,2,4,2,4,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,R_8oLjyroEAPMMGE9,1,1,4,5,5,4,3,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,R_2NE3opSPthongZf,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,4,5,1,5,5,1,1,2,5
31,R_2ZU26dfVqliVm5X,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,2,2,3,3,1,1,2,1,3
32,R_89bk8DH9Pit04RP,1,1,4,4,5,4,4,5,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,R_1QQArY0bpLSD3Ms,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,3,3,3,2,1,2,1,3,3
34,R_2lxKh2Lp9frwasu,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,5,5,3,5,5,5,5,5,5
35,R_2rqPvdBrup5Dkx6,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,4,1,1,3,2,5,1,4,4
36,R_2IuziWT7AQlFDoG,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,5,3,3,5,5,3,1,3,5
37,R_6Y3t9KRr20t6U5P,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,4,2,2,4,4,4,2,4,5
38,R_1eHqZtghKZehSsF,1,1,1,5,4,2,3,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,R_7REUIcsZYLgWlKV,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,4,1,1,2,4,2,1,1,2
40,R_2fE6LjrUrLH3NJp,1,1,3,4,5,2,3,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,R_2EydxFV3CCyCqvp,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,3,5,5,5,5,5,5,5,3

Now that we have only what we need, it is time to change the spreadsheet into something usable by R. In this example, I have also maintained the metadata ('age_part','gender_part','educ_part').

In [ ]:
data_br = pd.melt(data, id_vars=['Response ID'], var_name='Question ID', value_name='Answer')
display(data_br)

,Response ID,Question ID,Answer
0,R_2dMzcY6tOKkVzD1,"By participating in this survey, you agree to ...",NaN
1,R_4RbtIAqHHzx1AVX,"By participating in this survey, you agree to ...",NaN
2,R_2EtGNsPkgJCCzBO,"By participating in this survey, you agree to ...",1
3,R_2MtwLdGhgaZFz8g,"By participating in this survey, you agree to ...",1
4,R_2YljOLmQpXWIbnI,"By participating in this survey, you agree to ...",1
...,...,...,...
1143,R_6Y3t9KRr20t6U5P,AI q1 - Click to write Choice 1,5
1144,R_1eHqZtghKZehSsF,AI q1 - Click to write Choice 1,NaN
1145,R_7REUIcsZYLgWlKV,AI q1 - Click to write Choice 1,2
1146,R_2fE6LjrUrLH3NJp,AI q1 - Click to write Choice 1,NaN
1147,R_2EydxFV3CCyCqvp,AI q1 - Click to write Choice 1,3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Since for some of you, not all the questions are displayed to all the participants, it makes sense to remove the questions where the answer was not given, which Qualtrics shows as NaN. That is quite easy to do.

In [ ]:
data_br = data_br.dropna(subset = ['Question ID', 'Answer'])
display(data_br)

,Response ID,Question ID,Answer
2,R_2EtGNsPkgJCCzBO,"By participating in this survey, you agree to ...",1
3,R_2MtwLdGhgaZFz8g,"By participating in this survey, you agree to ...",1
4,R_2YljOLmQpXWIbnI,"By participating in this survey, you agree to ...",1
5,R_2bDOiGhNOtUG6IN,"By participating in this survey, you agree to ...",1
6,R_2agDo9PWb8jpAVg,"By participating in this survey, you agree to ...",1
...,...,...,...
1141,R_2rqPvdBrup5Dkx6,AI q1 - Click to write Choice 1,4
1142,R_2IuziWT7AQlFDoG,AI q1 - Click to write Choice 1,5
1143,R_6Y3t9KRr20t6U5P,AI q1 - Click to write Choice 1,5
1145,R_7REUIcsZYLgWlKV,AI q1 - Click to write Choice 1,2
1147,R_2EydxFV3CCyCqvp,AI q1 - Click to write Choice 1,3

In [ ]:
import numpy as np
data_br['is_AI'] = np.where(data_br['Question ID'].str.contains('AI', na=False), 1, 0)
display(data_br)

,Response ID,Question ID,Answer,is_AI
2,R_2EtGNsPkgJCCzBO,"By participating in this survey, you agree to ...",1,0
3,R_2MtwLdGhgaZFz8g,"By participating in this survey, you agree to ...",1,0
4,R_2YljOLmQpXWIbnI,"By participating in this survey, you agree to ...",1,0
5,R_2bDOiGhNOtUG6IN,"By participating in this survey, you agree to ...",1,0
6,R_2agDo9PWb8jpAVg,"By participating in this survey, you agree to ...",1,0
...,...,...,...,...
1141,R_2rqPvdBrup5Dkx6,AI q1 - Click to write Choice 1,4,1
1142,R_2IuziWT7AQlFDoG,AI q1 - Click to write Choice 1,5,1
1143,R_6Y3t9KRr20t6U5P,AI q1 - Click to write Choice 1,5,1
1145,R_7REUIcsZYLgWlKV,AI q1 - Click to write Choice 1,2,1
1147,R_2EydxFV3CCyCqvp,AI q1 - Click to write Choice 1,3,1

And we're good! The only thing left is to download that spreadsheet. Let's do that. Give it a name, and export the table you've been working on. Then click on 3 dots next to that file (left-hand pane) and choose "Download". That's it!

In [ ]:
resps = {element: index for index, element in enumerate (data_br['Response ID'].unique())}
data_br ['Response ID']=data_br ['Response ID'].map(resps)

In [ ]:
name = '/content/dataai.csv'#give the place to store your file
data_br.to_csv(name, index = False)#and export it